
{{ partial "header.html" . }}

<div class="container">
    <main class="content">
        <article class="article">
        
            <h1 class="article-title">Archive</h1>
            <hr>

            {{ if .Content }}
            <div class="article-content">
                {{ .Content }}
            </div>
            {{ end }}

            <div class="archive">
                {{ $pages := .Pages }}
                {{ if .IsHome }}
                {{ $pages = .Site.RegularPages }}
                {{ end }}
                {{ range (where $pages "Section" "!=" "").GroupByDate "2006" }}
                {{ range .Pages }}
                
                <article class="archive-item post-item">
                    {{ if .Resources.Match .Params.featuredImage }}
                      {{ $image := .Resources.GetMatch .Params.featuredImage }}
                      <div class="post-thumbnail">
                          <img src="{{ $image.RelPermalink }}" alt="{{ .Title }}">
                      </div>
                    {{ end }}

                    <div class="post-content">
                        <a href="{{ .RelPermalink }}" class="archive-item-link">{{ .Title }}</a>

                        <div class="post-meta">
                            <span class="post-date">{{ .Date.Format "Jan 2, 2006" }}</span>
                            • <span class="post-read-time">{{ .ReadingTime }} min read</span>
                            • <span class="post-comments">0 Comments</span>
                            {{ with .Params.categories }}
                            • <span class="post-category">{{ delimit . ", " }}</span>
                            {{ end }}
                        </div>
                    </div>
                </article>
                
                {{ end }}
                {{ end }}
            </div>

        </article>
    </main>

    <aside class="sidebar">
        {{ partial "sidebar.html" . }}
    </aside>

</div>


{{ partial "footer.html" . }}

