
{{ partial "header.html" . }}

<div class="container">
    <main class="content">
          {{ if not (or (eq .RelPermalink "/about/") (eq .RelPermalink "/smoke-tool/") (eq .RelPermalink "/resources/") (eq .RelPermalink "/projects/")) }}
              {{ $currentCategories := .Params.categories }}
              {{ $filteredPages := slice }}

              {{ range where .Site.RegularPages "Params.categories" "intersect" $currentCategories }}
                  {{ $filteredPages = $filteredPages | append . }}
              {{ end }}

              {{ $filteredPages = sort $filteredPages "Date" "desc" }}

              {{ $currentIndex := -1 }}
              {{ range $index, $page := $filteredPages }}
                  {{ if eq $page.RelPermalink $.RelPermalink }}
                      {{ $currentIndex = $index }}
                  {{ end }}
              {{ end }}

              {{ if ne $currentIndex -1 }}
                  <nav class="post-navigation">
                      {{ if lt $currentIndex (sub (len $filteredPages) 1) }}
                          {{ $nextPost := index $filteredPages (add $currentIndex 1) }}
                          <a class="prev-post" href="{{ $nextPost.RelPermalink }}">
                              &larr; {{ $nextPost.Title }}
                          </a>
                      {{ end }}

                      {{ if gt $currentIndex 0 }}
                          {{ $prevPost := index $filteredPages (sub $currentIndex 1) }}
                          <a class="next-post" href="{{ $prevPost.RelPermalink }}">
                              {{ $prevPost.Title }} &rarr;
                          </a>
                      {{ end }}
                  </nav>
                  <hr>
            {{ end }}
        {{ end }}
    
        <article class="article">
            {{ if or (eq .Section "post") }}
            <span class="article-duration">{{ .ReadingTime }} min read</span>
            {{ end }}

            <h1 class="article-title">{{ .Title }}</h1>

            {{ if or (eq .Section "post") }}
            <span class="article-date">{{ .Date.Format "2006-01-02" }}</span>
            {{ end }}

            <div class="article-content">
                {{ if .Params.toc }}
                {{ .TableOfContents }}
                {{ end }}
                {{ .Content }}
            </div>
        </article>

        {{ partial "disqus.html" .}}
    </main>

    <aside class="sidebar">
        {{ partial "sidebar.html" . }}
    </aside>

</div>

{{ partial "footer.html" . }}

