
{{ partial "header.html" . }}

<div class="container">
    <main class="content">

            {{ if not (or (eq .RelPermalink "/about/") (eq .RelPermalink "/gam-tool/") (eq .RelPermalink "/resources/")) }}
                <nav class="post-navigation">
                {{ with .PrevInSection }}
                <a class="prev-post" href="{{ .RelPermalink }}">
                    &larr; {{ .Title }}
                </a>
                {{ end }}
                {{ with .NextInSection }}
                <a class="next-post" href="{{ .RelPermalink }}">
                    {{ .Title }} &rarr;
                </a>
                {{ end }}
                </nav>
                <hr>
            {{ end }}
    
        <article class="article">
        
            {{ if or (eq .Section "post") }}
            <span class="article-duration">{{ .ReadingTime }} min read</span>
            {{ end }}

            <h1 class="article-title">{{ .Title }}</h1>

            {{ if or (eq .Section "post") }}
            <span class="article-date">{{ .Date.Format "2006-01-02" }}</span>
            {{ end }}

            <div class="article-content">
                {{ if .Params.toc }}
                {{ .TableOfContents }}
                {{ end }}
                {{ .Content }}
            </div>
            
        </article>

        {{ partial "disqus.html" .}}
    </main>

    <aside class="sidebar">
        {{ partial "sidebar.html" . }}
    </aside>

</div>

{{ partial "footer.html" . }}

